<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Lista de libros</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Editorial</th>
            <th>Año Edición</th>
            <th>Páginas</th>
        </tr>
        </thead>
        <tbody >
    <tr th:each="book: ${books}">
        <td th:text="${book.id}"></td>
        <td  th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td  th:text="${book.editorial}"></td>
        <td th:text="${book.yearEdition}"></td>
        <td  th:text="${book.pages}"></td>
        <td>
            <form th:action="@{/gestor/edit}" th:method="get" th:object="${books}">
                <input type="hidden" name="id" th:value="${book.id}" >
                <input type="submit" value="Editar">
            </form>
            <form th:action="@{/gestor/delete}" th:method="delete" th:object="${books}">
                <input type="hidden" name="id" th:value="${book.id}" >
                <input type="submit" value="Borrar" onclick="return confirmDelete()">
            </form>

        </td>
    </tr>
        </tbody>
    </table>

    <a th:href="@{/gestor/create}" th:type="submit">Agregar libro</a>

<script>
    function confirmDelete() {
        if(confirm("Está seguro que quiere eliminar el libro")) {
            return true;
        } else {
            event.preventDefault();
            return false;
        }
    }

</script>
</body>
</html>